{% extends 'base.html.twig' %} {% block title %}Login{% endblock %} {% block
body %}
<div class=" mt-12 flex justify-center">
  <div class="w-96">
    <h1 class="text-5xl">Security Project</h1>
    {% block loginBody %} {% endblock %}
  </div>
</div>
{% endblock %}
